.color-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100.5%;
}

.color-block:hover {
  cursor: pointer;
}

.lock-button {
  border: 1px solid transparent;
  transition: 0.15s all ease-in;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 0%;
  background-color: rgb(40, 48, 56);
}

.lock-button:focus {
  outline: none;
  /* background-color: red; */
}

i {
  color: white;
}

.color-block:hover > button {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
  height: 15%;
}
.color-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.07s border ease-in-out;
}

.color-block:hover > .color-bar {
  border-top: none;
  border-bottom: 5px solid black;
  /* box-shadow: -1px -6px 7px 2px rgba(0, 0, 0, 0.74); */
}

.color-bar > p {
  text-align: center;
}

.color-bar-text-vertical {
  position: absolute;
  transform: rotate(-90deg) translateX(2vw);
  width: 100%;
}

@keyframes move {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}
