.PalettePicker {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 70vh;
  /* border: 5px solid blue; */
}

.colors-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  /* transform: translateY(2px); */
  /* border: 1px solid red; */
}

.button-bar {
  position: relative;
  height: 15%;
  z-index: 2;
  background: white;
  border: 1px solid red;
}
