.SavePopup {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  left: 15%;
  right: 15%;
  z-index: 4;
  max-width: 400px;
  border: 1px solid coral;
  color: red;

  .palettes-section {
    border: 1px solid red;
    height: 300px;
    width: 80%;
    overflow: scroll;
  }
  .palette-details {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0.4rem;
    border: 1px solid blue;
  }
  .palette-inputs {
    display: flex;
  }
  .palette-color {
    height: 1.5rem;
    min-width: 5rem;
    margin-right: 0.5rem;
    border: 1px solid black;
  }
  .editor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  .editor-title {
    margin: 0;
  }

  .editor-exit {
    position: absolute;
    right: -10px;
    top: -10px;
  }

  .submit-btn {
    border: 1px solid red;
    background-color: coral;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    width: 70%;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .remove-btn {
  }

  .screen {
    position: absolute;
    z-index: 3;
    background-color: rgba(6, 16, 20, 0.658);
    height: 100%;
    width: 100vw;
  }
}
