@import "../../_styles/variables.scss";

.ColorEditor {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0.7rem 0 0.7rem;
  height: 2.4rem;
  background-color: $primary-light;
  border: 1px solid $primary-dark;

  .palette-inputs {
    display: flex;
    width: 40%;
  }

  .palette-color {
    width: 60%;
  }

  .color-input {
    width: 40%;
    border: none;
    @include input-focus;
  }

  .palette-btns {
    display: flex;
    width: 60%;
    align-items: center;
    flex: 1;
  }

  .remove-btn {
    flex: 1;
    background-color: $primary-dark;
    border: none;
    width: 30%;
    margin: 0;
  }

  .remove-btn > i {
    color: $primary-light;
  }

  .update-btn {
    flex: 3;
    border-radius: 0;
    border: none;
    margin: 0;
    width: 70%;
    height: 100%;
    font-size: 10px;
    &:hover {
      background-color: red;
    }
  }
}
