.PalettePicker {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 70vh;
  overflow: hidden;
  z-index: 2;
  border-bottom: 10px solid coral;
  box-shadow: -1px 10px 12px 5px rgba(0, 0, 0, 0.75);
}

.colors-section {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.button-bar {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 15%;
  z-index: 2;
  border-top: 1px solid black;
  background: white;
}

.primary-btn {
  border: 1px solid transparent;
  background-color: coral;
  height: 50%;
  width: 45%;
  margin: 0.5rem;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

.locked-btn {
  cursor: auto !important;
  background-color: lightgray;
}

button:focus {
  outline: none;
  cursor: pointer;
}
