.App {
  /* border: 1px solid red; */
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Comfortaa", cursive;
}

.NavBar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid coral; */
  z-index: 3;
  background-color: white;
  border-bottom: 2px solid coral;
  box-shadow: -1px -5px 5px 6px rgba(0, 0, 0, 0.75);
}

.NavBar > h2 {
  margin: 0.5rem;
  margin-left: 3.5rem;
  font-family: "Carter One", cursive;
  color: coral;
}

.navbar-form {
  margin-right: 3.5rem;
}

.navbar-form > button {
  padding: 0.4rem 2.5rem;
  margin: 0.2rem;
  color: white;
  background-color: coral;
  border: 1px solid rgb(199, 94, 56);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.MainPage {
  min-height: 95vh;
  background-color: rgb(40, 48, 56);
}

.palettes-header {
  display: flex;
  justify-content: center;
  border-right: 1px dashed coral;
  border-left: 1px dashed coral;
  height: 30vh;
  color: white;
}

.palettes-header > p {
  padding-top: 8.5vh;
}
